In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('SUM_AMT_by_div_store_gtin_Synapse_12162022.csv') #storing file in dataframe.

In [5]:
df

        MGT_DIV_NO  STO_NO      GTIN_NO  SUM_RTL_DOL_AM  COUNTS
0               11       2  23661120000          210.58      32
1               11       2  22585600000         6533.29     946
2               11       2  21708560000          351.39     154
3               11       2  28716120000          182.96      39
4               11       2   7317032700         6895.54     441
...            ...     ...          ...             ...     ...
703880         708     789  22570730000           97.70      16
703881         708     789  21575440000          900.16     148
703882         708     789  84013430120       105493.31   13087
703883         708     789  29585440000          214.27      49
703884         708     789  26719230000           74.34      26

[703885 rows x 5 columns]

In [7]:
len(set(df['GTIN_NO'])) # len=count, set = distinct

2084

In [8]:
a = df['GTIN_NO'].unique() #assigning vairable to gtin

In [9]:
a

array([23661120000, 22585600000, 21708560000, ..., 26661860000,
       24719550000, 23709310000], dtype=int64)

In [10]:
s=pd.Series(a) #converting to column

In [11]:
s

0       23661120000
1       22585600000
2       21708560000
3       28716120000
4        7317032700
           ...
2079    23593330000
2080    24706410000
2081    26661860000
2082    24719550000
2083    23709310000
Length: 2084, dtype: int64

In [12]:
s.to_csv('GTINS_that_are_present_in_Synapse.csv')